/* =================digital clock css */

/* body{
    background-color: #333;

}
.clock{
    font-size:4em;
    text-align:center;
    margin-top: 20%;
    font-family: arial;
    color: yellow;
}

.clock span{
    padding: 20px;
    background: #444
} */
/* ======================================== */