body{
    background-color: #e2deda;
    letter-spacing:0.2em;
    font-size:o.8em;
}
.container{
    max-width: 400px;
}
.icon{
    position:relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}